.diary
	.diary__content
		.header
			h3 AGENDA
		.img
		.list.small
			.row
				.col-sm-3.text-center
					strong.day 22
					div.month AGO
				.col-sm-9
					p Conferencia de Hense en ISIL San Isidro

			.row
				.col-sm-3.text-center
					strong.day 18
					div.month SET
				.col-sm-9
					p Taller Descubriendo la Acuarela

			.row
				.col-sm-3.text-center
					strong.day 05
					div.month OCT
				.col-sm-9
					p Expo César Caycho - Animal Humano