.interior-home
	img.img-responsive(src="img/bg-cabecera-interior.jpg")
	.title-header
		.container
			.col-sm-12.col-md-10.col-md-offset-2
				h1
					span Genius Loci, la serie de collages
					span arquitectónicos de Anastasia Savinova