doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Blog Isil actualizado
		link(href="css/styles.css" rel="stylesheet")
		link(href="js/slick/slick.css" rel="stylesheet")
	body
		.container-fluid
			.row.full-overload(style="display: none")
				nav
					ul.list-unstyled
						li
							a(href="#") PROYECTOS
						li
							a(href="#") AGENDA
						li
							a(href="#") DOCENTES DG
						li
							a(href="#") INSPIRACIÓN
						li
							a(href="#") RECURSOS
						li
							a(href="#") #MIEXPERIENCIA
						li
							a(href="#") PREGUNTAS FRECUENTES

						li.nav-redes
							ul.list-unstyled.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
			header.row
				nav.navbar-fixed-top
					.container
						.pull-left
							a.logo-isil(href="#")
								img.img-responsive(src="img/logo-isil.png" alt="Logo Isil")
						.pull-right
							button.navbar-toggle
								i.glyphicon.glyphicon-menu-hamburger
				block banner

			block content

			.container-fluid.row
				.row.job-content
					.container
						.col-sm-12.text-center.job-info
							i.glyphicon.glyphicon-send.send-icon
							h3 envía tus trabajos
							strong ¿Te gustaría mostrarle tus trabajos al mundo?
							p
								| Envíanos un mail a contactodg@isil.pe con un enlace al trabajo que quieras compartir y pronto lo veras en el blog.
			footer.text-center
				img.blocl-center(src="img/logo-isil-negro.png" alt="Logo Isil Negro")
				br
				br
				p
					| Campus La Molina: Av. La Fontana 955 | Campus San Isidro: Av. Sanchez Carrión | Campus Miraflores: Av. Benavides 778 | Campus Jesús María: Av. San Felipe 212 #[br] Central Telefónica: 706-0000

		script(src="js/jquery.min.js")
		script(src="js/slick/slick.min.js")
		script(src="js/main.js")
