extends partials/layout.pug

block content
	.container
		.row.list-proyects-toolbar
			.col-sm-12
				.pull-left
					.arrows.pull-left
					strong.pull-left
						| PROYECTOS
				.pull-right
					a(href="#") Lo mas visto
					span &nbsp; &nbsp; &nbsp;
					a(href="#") Reciente

		.row.list-proyects
			.col-sm-3
				.thumbnail
					a(href="#")
						img.img-responsive(src="img/proyects/bg-proyecto-1.jpg")
					.caption
						p.text-center
							a(href="#") Alumnos de Isil presentan campaña del Día de la madre para Renzo Costa
					.branding-box
						a(href="#") BRANDING
						ul.list-unstyled.pull-right.redes
							li
								a.facebook(href='#') facebook
							li
								a.twitter(href='#') twitter
			.col-sm-3
				.thumbnail
					a(href="#")
						img.img-responsive(src="img/proyects/bg-proyecto-2.jpg")
					.caption
						p.text-center
							a(href="#") Victor Arias nos muestra la campaña de Play-Doh que te hará pensar en colores
					.branding-box
						a(href="#") ILUSTRACIÓN
						ul.list-unstyled.pull-right.redes
							li
								a.facebook(href='#') facebook
							li
								a.twitter(href='#') twitter
			.col-sm-3
				.thumbnail
					a(href="#")
						img.img-responsive(src="img/proyects/bg-proyecto-3.jpg")
					.caption
						p.text-center
							a(href="#") Kathy Moreno nos muestra la nueva identidad de Russ & Daughters.
					.branding-box
						a(href="#") BRANDING
						ul.list-unstyled.pull-right.redes
							li
								a.facebook(href='#') facebook
							li
								a.twitter(href='#') twitter
			.col-sm-3
				.thumbnail
					a(href="#")
						img.img-responsive(src="img/proyects/bg-proyecto-4.jpg")
					.caption
						p.text-center
							a(href="#") Ana Juana, ex-alumna de Diseño nos presenta: Dibujando al otro lado.
					.branding-box
						a(href="#") EDITORIAL
						ul.list-unstyled.pull-right.redes
							li
								a.facebook(href='#') facebook
							li
								a.twitter(href='#') twitter
			.col-sm-3
				.thumbnail
					a(href="#")
						img.img-responsive(src="img/proyects/bg-proyecto-2.jpg")
					.caption
						p.text-center
							a(href="#") Victor Arias nos muestra la campaña de Play-Doh que te hará pensar en colores
					.branding-box
						a(href="#") INLUSTRACIÓN
						ul.list-unstyled.pull-right.redes
							li
								a.facebook(href='#') facebook
							li
								a.twitter(href='#') twitter
			.col-sm-3
				.thumbnail
					a(href="#")
						img.img-responsive(src="img/proyects/bg-proyecto-1.jpg")
					.caption
						p.text-center
							a(href="#") Alumnos de Isil presentan campaña del Día de la madre para Renzo Costa
					.branding-box
						a(href="#") BRANDING
						ul.list-unstyled.pull-right.redes
							li
								a.facebook(href='#') facebook
							li
								a.twitter(href='#') twitter
		.row
			.col-sm-8.col-sm-offset-2.text-center.content-btn-show-more
				a.btn-show-more.bg-light VER MÁS
		.row
			.col-sm-12
				h3 NOVEDADES
			.col-sm-12.col-md-6
				.row
					.col-sm-12.text-center
						.table-block
							.table-block__content
								h6 INSPIRACION
								p Cuando de pronto, empiezas a ver rosas por todos lados.
				.row
					.col-sm-6
						.thumbnail.bg-white
							img.img-responsive(src="img/notas/nota-1.jpg")
							.box-detail
								.caption
									p
										a(href="#") Miguel Chipana opina sobre el rol de los diseñadores
								.branding-box
									a(href="#") DOCENTES DG
									ul.list-unstyled.pull-right.redes
										li
											a.facebook(href='#') facebook
										li
											a.twitter(href='#') twitter

					.col-sm-6
						.thumbnail.bg-white
							img.img-responsive(src="img/notas/nota-2.jpg")
							.box-detail
								.caption
									p
										a(href="#") Expodeco 2017: El evento más innovador del diseño y la arquitectura
								.branding-box
									a(href="#") AGENDA
									ul.list-unstyled.pull-right.redes
										li
											a.facebook(href='#') facebook
										li
											a.twitter(href='#') twitter

			.col-sm-6.col-md-3
				.diary
					.diary__content
						.header
							strong A-GEN-DA
							span.text-right 2017
						.img
							img.img-responsive(src="img/flyersthumb_qjag_defaultPhoto.png")
						.list
							.row
								.col-sm-3
									strong.day 22
								.col-sm-9
									strong Julio
									p Taller Descubriendo la acuarela

							.row
								.col-sm-3
									strong.day 18
								.col-sm-9
									strong Agosto
									p Asamblea 2017-2

							.row
								.col-sm-3
									strong.day 05
								.col-sm-9
									strong Septiembre
									p Asamblea 2017-3
			.col-sm-6.col-md-3
				.visible-xs &nbsp;
				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-3.jpg")
					.box-detail
						.caption
							p
								a(href="#") VIDEO: Creación de una ilustración para la película Ghost in the Shell
						.branding-box
							a(href="#") RECURSOS
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter

				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-4.jpg")
					.box-detail
						.caption
							p
								a(href="#") 10 creativos que publican cosas extraordinarias en Instagram
						.branding-box
							a(href="#") INSPIRACIÓN
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
		.row
			.col-md-10.col-md-offset-1
				img.img-responsive.center-block(src="img/banner-middle.jpg")
		.row
			.col-md-10.col-md-offset-1.text-center.block-experience
				h2
					span #MI
					span.test EXPERIENCIA
				p
					| Nuestros alumnos egresados de Isil, nos cuentan sus experiencias y anecdotas vividas

	.container-fluid
		.row.students
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-1.jpg" alt="Alumno 1")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-2.jpg" alt="Alumno 2")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-3.jpg" alt="Alumno 3")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-4.jpg" alt="Alumno 4")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-5.jpg" alt="Alumno 5")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-1.jpg" alt="Alumno 1")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-2.jpg" alt="Alumno 2")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
			.col-md-15
				.student-block
					img.img-responsive.center-block(src="img/alumnos/alumno-3.jpg" alt="Alumno 3")
					.info-alumno
						.content-table
							.column
								h5 ALESSANDRA CASTILLO
								p
									| Cuando de pronto, empiezas a ver rosas por todos lados.
		.clearfix

	.container
		.row
			.col-sm-12.col-md-6.text-center
				.table-block
					.table-block__content.second
						h6 INSPIRACION
						p 12 ilustradores y diseñadores revisitan Twin Peaks.
			.col-sm-6.col-md-3
				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-5.jpg")
					.box-detail
						.caption
							p
								a(href="#") Identidad visual de Vertical Geopolitics Lab
						.branding-box
							a(href="#") INSPIRACIÓN
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
			.col-sm-6.col-md-3
				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-6.jpg")
					.box-detail
						.caption
							p
								a(href="#") Charla Informativa: ¡Vamos por la Licenciatura! Universidad Mayor de Chile
						.branding-box
							a(href="#") AGENDA
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
		.row
			.col-sm-6.col-md-3
				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-7.jpg")
					.box-detail
						.caption
							p
								a(href="#") Ana lozada: ¿ Los diseñadores somos artistas o no?
						.branding-box
							a(href="#") DOCENTES DG
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
			.col-sm-6.col-md-3
				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-8.jpg")
					.box-detail
						.caption
							p
								a(href="#") Charla Informativa: “El Diseño Gráfico, del lenguaje informativo al persuasivo.”
						.branding-box
							a(href="#") AGENDA
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
			.col-sm-6.col-md-3
				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-9.jpg")
					.box-detail
						.caption
							p
								a(href="#") 7 Consejos para diseñar tu guía de estilos
						.branding-box
							a(href="#") INSPIRACIÓN
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
			.col-sm-6.col-md-3
				.thumbnail.bg-white
					img.img-responsive(src="img/notas/nota-10.jpg")
					.box-detail
						.caption
							p
								a(href="#") Expodeco 2017: El evento más innovador del diseño y la arquitectura
						.branding-box
							a(href="#") AGENDA
							ul.list-unstyled.pull-right.redes
								li
									a.facebook(href='#') facebook
								li
									a.twitter(href='#') twitter
		.row
			.col-sm-8.col-sm-offset-2.text-center.content-btn-show-more
				a.btn-show-more.bg-light VER MÁS
	.container-fluid.row
		.row.job-content
			.container
				.col-sm-12.text-center.job-info
					i.glyphicon.glyphicon-send.send-icon
					h3 envía tus trabajos
					strong ¿Te gustaría mostrarle tus trabajos al mundo?
					p
						| Envíanos un mail a contactodg@isil.pe con un enlace al trabajo que quieras compartir y pronto lo veras en el blog.
