extends partials/layout.pug

block content
	.container.mi-experiencia
		.row
			.col-sm-6.col-md-4
				.row
					.table-block.miexp
						.table-block__content.no-image
							.block-experience.text-center
								h2
									span #MI
									span EXPERIENCIA
								p.smaller
									| Nuestros alumnos egresados de Isil, nos cuentan sus experiencias y anecdotas vividas.

			.col-sm-6.col-md-4
				.row
					.student-block
						.image-alumno(style="background-image: url(img/alumnos/alumno-2.jpg)")
						.info-alumno
							.content-table
								.column.text-center
									h5 ALESSANDRA CASTILLO
									p
										| Cuando de pronto, empiezas a ver rosas por todos lados.

			.col-sm-6.col-md-4
				.row
					.student-block
						.image-alumno(style="background-image: url(img/alumnos/alumno-3.jpg)")
						.info-alumno
							.content-table
								.column.text-center
									h5 ALESSANDRA CASTILLO
									p
										| Cuando de pronto, empiezas a ver rosas por todos lados.

			.col-sm-6.col-md-4
				.row
					.student-block
						.image-alumno(style="background-image: url(img/alumnos/alumno-4.jpg)")
						.info-alumno
							.content-table
								.column.text-center
									h5 ALESSANDRA CASTILLO
									p
										| Cuando de pronto, empiezas a ver rosas por todos lados.

			.col-sm-6.col-md-4
				.row
					.student-block
						.image-alumno(style="background-image: url(img/alumnos/alumno-5.jpg)")
						.info-alumno
							.content-table
								.column.text-center
									h5 ALESSANDRA CASTILLO
									p
										| Cuando de pronto, empiezas a ver rosas por todos lados.

			.col-sm-6.col-md-4
				.row
					.student-block
						.image-alumno(style="background-image: url(img/alumnos/alumno-1.jpg)")
						.info-alumno
							.content-table
								.column.text-center
									h5 ALESSANDRA CASTILLO
									p
										| Cuando de pronto, empiezas a ver rosas por todos lados.
