extends partials/layout.pug

block content
	.container.preguntas
		.col-sm-12.col-md-10.col-md-offset-1
			h1.extra-bold PREGUNTAS FRECUENTES

			.panel-group.box-preguntas#accordion(role="tablist" aria-multiselectable="true")
				.panel.panel-default
					.panel-heading.state-active(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#one" aria-expanded="true" aria-controls="one")
							| 1. ¿Blog Isil es solo de uso Exclusivo para alumnos de Isil?

					#one.collapse.body-content.in(role="tabpanel" aria-labelledby="one")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#two" aria-expanded="true" aria-controls="two")
							| 2. ¿Puedo Subir, mis trabajos si soy de otro Instituto?

					#two.collapse.body-content(role="tabpanel" aria-labelledby="two")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#three" aria-expanded="true" aria-controls="three")
							| 3. ¿A que correo puedo mandar mis Trabajos?
					#three.collapse.body-content(role="tabpanel" aria-labelledby="three")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#four" aria-expanded="true" aria-controls="four")
							| 4. ¿En cuanto tiempo podré ver mis trabajos?
					#four.collapse.body-content(role="tabpanel" aria-labelledby="four")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#five" aria-expanded="true" aria-controls="five")
							| 5. ¿Puedo subir mis trabajos, aun así no los haya presentado en Isil?
					#five.collapse.body-content(role="tabpanel" aria-labelledby="five")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#six" aria-expanded="true" aria-controls="six")
							| 6. ¿Si estoy en el primer ciclo de la carrera , puedo aun subir mi portafolio?
					#six.collapse.body-content(role="tabpanel" aria-labelledby="six")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#seven" aria-expanded="true" aria-controls="seven")
							| 7. ¿A que correo puedo mandar mis Trabajos?
					#seven.collapse.body-content(role="tabpanel" aria-labelledby="seven")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#eight" aria-expanded="true" aria-controls="eight")
							| 8. ¿En cuanto tiempo podre ver mis trabajos?
					#eight.collapse.body-content(role="tabpanel" aria-labelledby="eight")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#nine" aria-expanded="true" aria-controls="nine")
							| 9. ¿Puedo subir mis trabajos, aun así no los haya presentado en Isil?
					#nine.collapse.body-content(role="tabpanel" aria-labelledby="nine")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.

				.panel.panel-default
					.panel-heading(role="tab")
						h3.collapsed(role="button" data-toggle="collapse" data-parent="#accordion" href="#ten" aria-expanded="true" aria-controls="ten")
							| 10. ¿Si estoy en el primer ciclo de la carrera, puedo aun subir mi portafolio?
					#ten.collapse.body-content(role="tabpanel" aria-labelledby="ten")
						.panel-body
							| En ese único caso, nos reservamos el derecho de subir solo trabajos de alumnos/ex-alumnos, de la carrera de Diseño, este Blog es hecho para todas las personas amantes del diseño. Tanto Aficionados como Profesionales de la carrera. Están todos invitados a conocer más de diseño en esta nueva Plataforma.


	include partials/interesar