extends partials/layout.pug

block banner
	.banners.mb15
		.container
			.col-sm-12.text-center
				h1 RECURSOS
				.cbo.center-block
					select.form-control
						option(selected) Ordenar por
						option Filtro 1
						option Filtro 2
		.bg-banner.recursos


block content
	.container
		.col-sm-12
			.row
				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-1.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter

				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-2.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter

				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-3.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter

				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-3.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter

				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-4.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter

				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-5.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter

				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-6.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter

				.col-sm-4.col-md-3
					.thumbnail.bg-white
						img.img-responsive(src="img/notas/nota-3.jpg")
						.box-detail
							.caption
								p
									a(href="interior.html") VIDEO: Creación de una ilustración para la película Ghost in the Shell
							.branding-box
								a(href="interior.html") RECURSOS
								ul.list-unstyled.pull-right.redes
									li
										a.facebook(href='#') facebook
									li
										a.twitter(href='#') twitter